header {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header img{
  height: 30px;
}

body {
  text-align: center;
  margin: 0;
  background-image: url(27131331.jpg);
  background-size: cover;
}