header {
  background-color: #267CA7;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header ul {
  margin: 0;
  display: flex;
  list-style: none;
}

header ul li {
  padding: 0 20px;
}

header ul li a {
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
}

header ul li a:hover {
  color: #7BC3D1
}

header img{
  height: 30px;
}

body {
  text-align: center;
  margin: 0;
  background-image: url(YC_background.png);
  background-size: cover;
}

span {
  font-weight: bold;
}

@media (max-width: 768px) {
  .content {

  }
}

footer{
  background-color: #267CA7;
  color: #FFFFFF;
  padding: 10px;
}