* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header img{
  height: 30px;
}

body {
  text-align: center;
  margin: 0;
  background-image: url(27131331.jpg);
  background-size: cover;
}

.title {
  background-image: url(PC.png);
  background-size: cover;
  padding: 350px 0;
  font-size: 38px;
  letter-spacing: 5px;
}

#ヤングケアラー {
  background-color: white;
  border: 3px solid #333;
  border-radius: 20px;
  padding: 30px;
  width: 80%;
  max-width: 700px;
  margin: 40px auto;
}

.image {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

.tag {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

h2 {
  margin: 30px;
}

p {
  font-size: 30px;
  letter-spacing: 3px;
}

span {
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
