body {
  color: #333333;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 80px;
  letter-spacing: 5px;
}

h2 {
  margin: 0;
}

h2 span {
  font-size: 40px;
  letter-spacing: 5px;
}

span {
  font-weight: bold;
}

