body {
  color: #333333;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 90px;
  letter-spacing: 5px;
}

h2 {
  margin: 0;
  p {
    font-size: 30px;
    letter-spacing: 5px;
  }
}

span {
  font-weight: bold;
}